<div *ngIf="pinnedRepos">
  <h2>Pinned repositories</h2>
  <p>Organization: {{pinnedRepos.OrganizationName}}</p>
  <p>Pinned items: {{pinnedRepos.TotalCount}}</p>
  <p>Repositories:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>NameWithOwner</th>
        <th>LicenseName</th>
        <th>ContributorsCount</th>
        <th>ReleasesCount</th>
        <th>HEADCommitsCount</th>
        <th>BranchesCount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of pinnedRepos.Repositories" class="pinned-repo-row"
          (click)="goToRepo(pinnedRepos.OrganizationName, repo.Name)">
        <td>{{repo.Name}}</td>
        <td>{{repo.NameWithOwner}}</td>
        <td>{{repo.LicenseName}}</td>
        <td>{{repo.ContributorsCount}}</td>
        <td>{{repo.ReleasesCount}}</td>
        <td>{{repo.HEADCommitsCount}}</td>
        <td>{{repo.BranchesCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
