<div *ngIf="pinnedRepos">
  <h2>Pinned repositories</h2>
  <p>Organization: {{pinnedRepos.OrganizationName}}</p>
  <p>Pinned items: {{pinnedRepos.TotalCount}}</p>
  <p>Repositories:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>NameWithOwner</th>
        <th>LicenseName</th>
        <th>ContributorsCount</th>
        <th>ReleasesCount</th>
        <th>HEADCommitsCount</th>
        <th>BranchesCount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repository of pinnedRepos.Repositories">
        <td>{{repository.Name}}</td>
        <td>{{repository.NameWithOwner}}</td>
        <td>{{repository.LicenseName}}</td>
        <td>{{repository.ContributorsCount}}</td>
        <td>{{repository.ReleasesCount}}</td>
        <td>{{repository.HEADCommitsCount}}</td>
        <td>{{repository.BranchesCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
